
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 .display-flex{
    display: flex;
 }
 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
 }

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-lik{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.band{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    color: #131313;
}
.banner-des{
    font-size: 16px;
    font-weight: 400;
    color: #727272;

}
.btn-primary{
    width: 180px;
    height: 60px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.banner-img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-fes{
    margin-left: 130px;
    width: 530px;
    height: 300px;
}
#quick{
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}
.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
#quick-2{
  font-size: 45px;
  font-weight: bold;
}
.text-primary{
    color: #FF900E;
}
.des{
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}

.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fact-number{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.fact-dis{
    max-width: 540px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
    .navbar,
     .nav-links,
     .teams{
        flex-direction: column;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-fes{
        margin-left: 20px;
    }
    
}

@media screen and (min-width: 576px) and (max-width:992px){
 .teams{
    flex-direction: column;
 }
 .our-fes{
    margin: 50px auto;
 }
    
}